# Enable RewriteEngine
RewriteEngine On

# Hide .html extension
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [L]

# Optional: Redirect from old .html URLs to clean URLs
RewriteCond %{THE_REQUEST} \s/+([^\.]+)\.html [NC]
RewriteRule ^ %1 [R=301,L]
